
/* -------- Hobobiker Additions */

/* Flickr posts - div style flickrfloat */
div.flickr,div.flickrfloat {
margin-left: 10px;
margin-bottom: 10px;
}

div.flickrfloat {
float: right; 
}

div.flickr-img-wrapper img,objectwrapper {
  border: solid 2px black;
}

.flickr-img-wrapper {
 display: inline;
}
/*
div.flickr img,objectwrapper {
border: solid 2px black;
}
*/
.flickr-img-wrapper { 
 /* display:inline; */
}

.caption {
  font-style: italic;
}

/* If the parent div has hide-generated caption... hide caption */
.hide-generated-caption .generated-caption {
 display:none;
}

/*
div flickrfloat objectwrapper {
  padding: 4px;
}
*/

/** Match the text area of info window **/
#iwsw img {
  height: 100px;
}

/* Tripinfo table formatting */
.tripinfo_table_table {
  border: 1px solid #D6DDe6;
  border-collapse: collapse;
}
.tripinfo_table_table td, .tripinfo_table_table th {
  border: 1px solid #d6dde6;
  text-align: right;
  padding: .2em;
}
.tripinfo_table_table th {
  border: 1px solid #828282;
  background-color: #bcbcbc;
  font-weight: bold;
  text-align: left;
  padding: 0.2em;
}
.tripinfo_table_table caption {
  font: bold 120% "Times New Roman",Times, serif;
  background-color: #B0c4de;
  color: #33517a;
  padding: 0.4em 0 0.3em 0;
  border: 1px solid #789ac6;
}


/** Simplemenu fixes **/
#forsimplemenu {
  width: 100%;
  float: left;
}

ul#simplemenu {
	background:#ddd;
	color:#333;
	position:static;  /* this can come out when my patch to simplemenu for IE6 goes in */
}
ul#simplemenu li.leaf a {
	background-color: #ddd;
}

/** Links fixes **/
ul.menu a {
  text-decoration: none;
}
